<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <h2 class="text-light primary py-3">JOB-UP</h2>

        <div class="d-flex">
            <button class="btn btn-success" routerLink="">Dashboard</button>&nbsp;
            <button class="btn btn-success" routerLink="jobs">Jobs</button>&nbsp;
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Menu
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" (click)="editUser()">Edit info</a></li>
                <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
              </ul>
            </div>
        </div>
    </div>
</nav>
