<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Approved</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersCandidatesModels; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ $any(job.candidates)[user.id] === true ? 'Yes' : 'No'}}</td>
      <td>
        <button *ngIf="job.candidates[user.id] === false" type="button" class="btn btn-light" (click)="approvedUser(user)">Approved</button>
        <button *ngIf="job.candidates[user.id] === true" type="button" class="btn btn-light" (click)="notApprovedUser(user)">Don't Approved</button>
      </td>
    </tr>
  </tbody>
</table>
